Repository willowtreeapps/vocable-ios, pull requests merged in 2022-05, with the labels that each got.

#624 [623] Add support for disabling animations as launch argument
  Vocable.xcodeproj/xcshareddata/xcschemes/Development.xcscheme
  Vocable/AppDelegate.swift
  Vocable/Common/CarouselGridCollectionViewController.swift
  Vocable/Common/LaunchArguments.swift
  Vocable/Features/Settings/EditPhrases/EditPhrasesViewController.swift
  VocableUITests/Screens/BaseScreen.swift
  VocableUITests/Screens/CustomCategoriesScreen.swift
  VocableUITests/Screens/SettingsScreen.swift
  VocableUITests/Tests/BaseTest.swift
  VocableUITests/Tests/CategoryPhrasesPaginationTests.swift
  VocableUITests/Tests/CustomCategoryTests.swift
  VocableUITests/Tests/MainScreenPaginationTests.swift
Labels: automation, Test verified

#631 [629] Phrase + Category cell identifier updates
  Vocable/Features/Root/CategoriesCarouselViewController.swift
  Vocable/Features/Root/CategoryDetailViewController.swift
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Tests/CategoryIdentifier.swift
  VocableUITests/Tests/MainScreenPaginationTests.swift
  VocableUITests/Tests/MainScreenTests.swift
Labels: Test verified

#630 [625] - Update Content strings.
  Vocable/Features/Settings/SettingsViewController.swift
  Vocable/Supporting Files/Info.plist
  Vocable/Supporting Files/en.lproj/InfoPlist.strings
  Vocable/Supporting Files/en.lproj/Localizable.strings
Labels: Test verified

#580 #541 | Voice UI Send Feedback Footer
  Vocable.xcodeproj/project.pbxproj
  Vocable/Common/Views/EmptyStateView.swift
  Vocable/Features/Voice/ListeningFeedbackSubmitView.swift
  Vocable/Features/Voice/ListeningFeedbackSuccessView.swift
  Vocable/Features/Voice/ListeningResponseFeedbackViewController.swift
  Vocable/Features/Voice/ListeningResponseViewController.swift
  Vocable/Supporting Files/en.lproj/Localizable.strings
Labels: Test verified

#642 [637] Defaulting Listening Mode Feature Flag On
  Vocable/AppConfig/AppConfig.swift
  Vocable/AppConfig/ListeningModeConfig.swift
  Vocable/Features/Voice/ListenModeDebugView.swift
Labels: Test verified

#641 [599] Finishing Up Voice Analytics 🗣️ 📊
  Vocable/Analytics/Analytics.swift
  Vocable/AppDelegate.swift
  Vocable/Features/Root/NumericCategoryContentViewController.swift
  Vocable/Features/Settings/EditCategories/EditCategoryDetailViewController.swift
  Vocable/Features/Settings/ListeningMode/ListeningModeViewController.swift
  Vocable/Features/Settings/SelectionMode/SelectionModeViewController.swift
  Vocable/Features/Voice/ListeningResponseFeedbackViewController.swift
  Vocable/Features/Voice/ListeningResponseViewController.swift
Labels: Test verified, 1.4.1

#639 Test/636 data injection main screen tests
  Vocable.xcodeproj/xcshareddata/xcschemes/Development.xcscheme
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Tests/MainScreenTests.swift
Labels: automation, Test verified

#648 Preset Data Injection Refactor: Pagination Tests
  Vocable.xcodeproj/project.pbxproj
  Vocable.xcodeproj/xcshareddata/xcschemes/Development.xcscheme
  VocableUITests/PresetsBuilders.swift
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Tests/CategoryPhrasesPaginationTests.swift
  VocableUITests/Tests/CustomPhraseTests.swift
  VocableUITests/Tests/MainScreenPaginationTests.swift
  VocableUITests/Tests/PaginationBaseTest.swift
Labels: automation, Ready for Test, Ready for Review

#653 #598 - Fix Listening Mode bug 🗣️ 🐞
  Vocable/Features/Root/RootViewController.swift
  Vocable/Features/Voice/ListeningResponseViewController.swift
  Vocable/Features/Voice/SpeechRecognitionController.swift
Labels: Test verified

#659 #646 | Treat Listening Mode like a hidden category when turned off
  Vocable/Extensions/Category+Helpers.swift
Labels: Test verified, Listening Mode, Ready for Review

#656 [647] Bug Fix for Listening Mode Settings Screen
  Vocable/Features/Settings/ListeningMode/ListeningModeViewController.swift
Labels: Test verified, Listening Mode, Ready for Review

#649 [613] General Analytics
  Vocable.xcodeproj/project.pbxproj
  Vocable/Analytics/Analytics.swift
  Vocable/AppDelegate.swift
  Vocable/Common/AnalyticsReportable.swift
  Vocable/Common/TimeInterval+AnalyticsReportable.swift
  Vocable/Extensions/Category+Helpers.swift
  Vocable/Extensions/Phrase+Helpers.swift
  Vocable/Features/Keyboard/KeyboardViewController.swift
  Vocable/Features/Root/CategoriesCarouselViewController.swift
  Vocable/Features/Root/CategoryDetailViewController.swift
  Vocable/Features/Root/RootViewController.swift
  Vocable/Features/Settings/EditCategories/CategoryNameEditorConfigurationProvider.swift
  Vocable/Features/Settings/EditCategories/EditCategoryDetailViewController.swift
  Vocable/Features/Settings/TimingSensitivity/Model/CursorSensitivity.swift
  Vocable/Features/Settings/TimingSensitivity/TimingSensitivityViewController.swift
  Vocable/Features/Settings/TimingSensitivity/Views/SensitivityCollectionViewCell.swift
  Vocable/Features/Settings/TimingSensitivity/Views/SensitivityCollectionViewCell.xib
Labels: Test verified, Analytics, 1.4.1

#651 [351] Accessibility Identifiers
  Vocable.xcodeproj/project.pbxproj
  Vocable/Features/Root/RootViewController.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Root+Categories.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Root.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings+EditCategories.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings+EditPhrases.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings+SelectionMode.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings+TimingSensitivity.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Shared+Pagination.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Shared.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID.swift
  Vocable/Supporting Files/AXIdentifier/Extensions/UIAccessibilityIdentification+AccessibilityID.swift
  Vocable/Supporting Files/AXIdentifier/Extensions/XCUIElementQuery+AccessibilityID.swift
  VocableUITests/Screens/BaseScreen.swift
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Tests/BaseTest.swift
  VocableUITests/Tests/KeyboardScreenTests.swift
  VocableUITests/Tests/MainScreenTests.swift
  VocableUITests/Tests/PresetPhraseTests.swift
Labels: Test verified, Ready for Review

#664 #644 | Start speech recognition in "Hot Word" mode when enabled from Settings
  Vocable/Features/Settings/ListeningMode/ListeningModeViewController.swift
  Vocable/Features/Voice/AudioPermissionPromptController.swift
  Vocable/Features/Voice/ListeningResponseViewController.swift
  Vocable/Features/Voice/SpeechRecognitionController.swift
Labels: Test verified, Listening Mode

#669 Automation/665 main screen ax ids
  Vocable.xcodeproj/project.pbxproj
  Vocable/Common/Views/PaginationView.swift
  Vocable/Common/VocableViewController.swift
  Vocable/Features/Root/CategoriesCarouselViewController.swift
  Vocable/Features/Root/CategoryDetailViewController.swift
  Vocable/Features/Settings/EditCategories/EditCategoriesViewController.swift
  Vocable/Features/Settings/EditCategories/EditCategoryDetailViewController.swift
  Vocable/Features/Voice/ListeningFeedbackSuccessView.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Root.swift
  VocableUITests/Screens/BaseScreen.swift
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Screens/SettingsScreen.swift
  VocableUITests/Tests/MainScreenPaginationTests.swift
  VocableUITests/Tests/PresetPhraseTests.swift
Labels: Test verified, Ready for Review

#663 [645] Listening Mode Unsupported Feature
  Vocable.xcodeproj/project.pbxproj
  Vocable/AppConfig/ListenModeFeatureConfiguration.swift
  Vocable/Features/Settings/ListeningMode/ListeningModeViewController.swift
  Vocable/Supporting Files/en.lproj/Localizable.strings
Labels: Testing...

#681 [677] Listening Mode Responses Update Every New Phrase
  Vocable/Features/Voice/ListeningResponseViewController.swift
Labels: Test verified

#682 [679] Repeated Listening Mode Phrase Bugfix 🐛 🧹
  Vocable/Features/Voice/ListeningResponseViewController.swift
Labels: Test verified, Listening Mode, 1.4.1

#685 [672] Unsupported Listening Mode Before Microphone Access
  Vocable/Common/Views/EmptyStateView.swift
  Vocable/Features/Settings/ListeningMode/ListeningModeViewController.swift
  Vocable/Features/Voice/ListeningResponseEmptyStateViewController.swift
  Vocable/Supporting Files/en.lproj/Localizable.strings
Labels: Test verified

#687 Test/671 Settings Screen AX Ids
  Vocable.xcodeproj/project.pbxproj
  Vocable/Common/Views/GazeableAlertController/GazeableAlertViewController.swift
  Vocable/Common/VocableListCell/VocableListCellAction.swift
  Vocable/Common/VocableNavigationBar.swift
  Vocable/Features/Settings/EditCategories/EditCategoriesViewController.swift
  Vocable/Features/Settings/EditCategories/EditCategoryDetailViewController.swift
  Vocable/Features/Settings/SettingsViewController.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Settings.swift
  Vocable/Supporting Files/AXIdentifier/AccessibilityID+Shared+Alert.swift
  VocableUITests/Screens/BaseScreen.swift
  VocableUITests/Screens/CustomCategoriesScreen.swift
  VocableUITests/Screens/MainScreen.swift
  VocableUITests/Screens/SettingsScreen.swift
  VocableUITests/Tests/CustomCategoryTests.swift
  VocableUITests/Tests/PresetCategoryTests.swift
  VocableUITests/Tests/SettingsScreenTests.swift
Labels: automation, Test verified
